<%= link_to "Órarend", '/orarend/get' %><br/>
<%= link_to "Helyettesítés", '/users/forgotten' %> <br/>
<%= link_to "Csengetés", '/users/forgotten' %><br/>
<%= link_to "Beállítások", '/beallitasok/get' %><br/>
<%= link_to "Kilépés", '/users/forgotten' %><br/>
<p>Version: 0.0.1</p>