<%= link_to "Órarend", '/orarend/get' %><br/>
<%= link_to "Helyettesítés", '/helyettesites/get' %> <br/>
<%= link_to "Csengetés", '/csengetes/get' %><br/>
<%= link_to "Beállítások", '/beallitasok/get' %><br/>
<%= link_to "Kilépés", '/sessions/destroy' %><br/>
<p>Version: 0.0.1</p>