<!DOCTYPE html>
<html>
  <head>
    <title>Randi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <div id="page">
      <div id="header"></div>
      <div id="main">
        <div id="menu">
          <% if logged_in? %>
            <%= render 'layouts/user' %>
          <% else %>
            <%= render 'layouts/guest' %>
          <% end %>
        </div>
        <div id="content">
           <%= yield %>
        </div>
      </div>
      <div id="footer">
        RoR, 2023
      </div>
    </div>
  </body>
</html>
